img {
    width: 200px;
    border-radius: 50%;
}

h1 {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*margin-left: auto !important;*/
    /*margin-right: auto !important;*/
}

.outer .md-display-4 {
    margin-bottom: 0;
    text-align: center;
}

.outer .md-display-2 {

    text-align: center;
}

.md-2-line div {
    padding: 50px;
}

img {
    margin-left: 20px;
}

.md-list-item-text h1 {
    margin-bottom: 1px;
}

.md-headline {
    margin-top: 1px;
}